/* Page styling */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(to right, rgb(232, 204, 248), rgb(128, 0, 255));
    margin: 0;
    padding: 0 10%;
}


/* Main title */
h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #2c004c;
    color: white;
    padding: 20px;
    margin: 0 -10%;
    letter-spacing: 1px;
}


/* Section headings */
h2 {
    font-family: 'Georgia', serif;
    font-size: 28px;
    color: #14006bec;
    margin-top: 40px;
    text-align: left;
}


/* Paragraph styling */
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.7;
    color: #333;
    width: 60%;
}


/* Image styling (right side automatically) */
img {
    float: right;
    width: 300px;
    margin-left: 40px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}


/* Clear float after each section */
h2 {
    clear: both;
}


/* Link button styling (centered) */
a {
    font-family: cursive, 'Comic Sans MS', sans-serif;
    display: block;
    width: 250px;
    margin: 25px auto;
    padding: 12px;
    text-align: center;
    background-color: #0077b5;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s ease;
}

/* Definition list styling */

dl {
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
}

dt::before {
    content: "●";          /* Unicode circle */
    color: #2c004c;        /* Circle color */
    font-size: 16px;       /* Circle size */
    margin-right: 8px;     /* Space between circle and text */
}

dt {
    font-weight: bold;
    color: #2c004c;
    margin-top: 10px;
}

dd {
    margin-left: 20px;
    color: #333;
    line-height: 1.6;
}

/* Hover effect */
a:hover {
    background-color: #005582;
    transform: scale(1.05);
}


/* Button styling (centered) */
button {
    display: block;
    margin: 20px auto;
    padding: 12px 25px;
    font-size: 18px;
    background-color: #2c004c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


/* Button hover */
button:hover {
    background-color: #14006bec;
    transform: scale(1.05);
}


/* Message styling */
#message {
    text-align: center;
    font-size: 20px;
    color: #2c004c;
    font-weight: bold;
}

